@page
@model RazorPagesMovie.Models.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>UpcomingMovie</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UpcomingMovie.Title" class="control-label"></label>
                <input asp-for="UpcomingMovie.Title" class="form-control" />
                <span asp-validation-for="UpcomingMovie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpcomingMovie.ReleaseDate" class="control-label"></label>
                <input asp-for="UpcomingMovie.ReleaseDate" class="form-control" />
                <span asp-validation-for="UpcomingMovie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpcomingMovie.Genre" class="control-label"></label>
                <input asp-for="UpcomingMovie.Genre" class="form-control" />
                <span asp-validation-for="UpcomingMovie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
